<%- include('./template/header'); %>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
      <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4"><%= news.title %></h1>
          
      </div>

      <div class="row">

        <div class="col-lg-6">
          <img width="100%" src="<%= news.urlimg %>" alt="Image">
        </div>

        <div class="col-lg-6">
            <p><%= news.body %></p>
            <p class="h5 mt-4">Created By: <%= news.user.name %></p>
        </div>

      </div>
      <br/>
      <div class="text-center">
          <a class="small" href="<%= url %>/news">Go Back</a>
      </div>
    </div>
</div>


<%- include('./template/footer'); %>